#header, .module h2, .module caption, .inline-group h2 {
    background-color: #ff80ab;
}

#branding h1, #branding h1 a:link, #branding h1 a:visited {
    color: #f5f5f5;
}

div.breadcrumbs {
    background-color: #00c853;
    color: #d84315;
}
